@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dining Designs Employment Portal</h1>
    <p><a href="@Url.Action("Index", "Applicants")" class="btn btn-primary btn-lg">Track Employees Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dining sites</h2>
        <p>
            We are the biggest employer on campus and click below to see all the places on campus that we handle
        </p>
        <p><a class="btn btn-default" href="https://dining.byu.edu">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apply</h2>
        <p><a class="btn btn-default" href="@Url.Action("ApplicantCreate", "Applicants")">Applicant Self Creation</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
